<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Очередь на посаде</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Очередь на посаде
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addLanding">
                <span class="oi oi-plus" aria-hidden="true"></span> Добавить в очередь
            </NavLink>
        </li>
        
        @* <li class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="editCoils"> *@
        @*         <span class="oi oi-reload" aria-hidden="true"></span> Сброс бунта *@
        @*     </NavLink> *@
        @* </li> *@
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="http://10.23.196.57:5030/" target="_blank">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Отчетные формы
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}